/* responsiveness with media querries */
@media (max-width:1200px) {

  html {
    font-size: 65%;
  }

  .home {
    padding: 1rem 6rem;
  }


}

@media (max-width:991px) {

  header {
    left: -120%;
  }
  #menu {
    display: block;
  }

  header.toggle{
    left: 0%;
  }

  body {
    padding: 0;
  }
}

@media (max-width:768px) {

  html {
    font-size: 50%;
  }

}

@media (max-width:400px) {

  header {
    width: 100%;
  }

  .heading {
    margin: 0 3rem;
  }


}